/* -------= imports =------- */
/* Fonts */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Bold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCondIt_0";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.svg#MyriadPro-BoldCondIt_0") format("svg");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Cond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-It.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-It.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-It.svg#MyriadPro-It") format("svg");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}
/* Generated by Glyphter (http://www.glyphter.com) on  Mon Nov 10 2014*/
@font-face {
  font-family: 'star-font';
  src: url('../../static/fonts/star-font.eot');
  src: url('../../static/fonts/star-font.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/star-font.woff') format('woff'), url('../../static/fonts/star-font.ttf') format('truetype'), url('../../static/fonts/star-font.svg#star-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Generated by Glyphter (http://www.glyphter.com) on  Sat Nov 08 2014*/
@font-face {
  font-family: 'button-font';
  src: url('../../static/fonts/Glyphter.eot');
  src: url('../../static/fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Glyphter.woff') format('woff'), url('../../static/fonts/Glyphter.ttf') format('truetype'), url('../../static/fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../../static/fonts/Ubuntu.eot');
  src: url('../../static/fonts/Ubuntu.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Ubuntu.woff') format('woff'), url('../../static/fonts/Ubuntu.ttf') format('truetype'), url('../../static/fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../../static/fonts/Ubuntu-Medium.eot');
  src: url('../../static/fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Ubuntu-Medium.woff') format('woff'), url('../../static/fonts/Ubuntu-Medium.ttf') format('truetype'), url('../../static/fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../../static/fonts/Ubuntu-Bold.eot');
  src: url('../../static/fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Ubuntu-Bold.woff') format('woff'), url('../../static/fonts/Ubuntu-Bold.ttf') format('truetype'), url('../../static/fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('../../static/fonts/Ubuntu-MediumItalic.eot');
  src: url('../../static/fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Ubuntu-MediumItalic.woff') format('woff'), url('../../static/fonts/Ubuntu-MediumItalic.ttf') format('truetype'), url('../../static/fonts/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('../../static/fonts/Ubuntu-LightItalic.eot');
  src: url('../../static/fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Ubuntu-LightItalic.woff') format('woff'), url('../../static/fonts/Ubuntu-LightItalic.ttf') format('truetype'), url('../../static/fonts/Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../../static/fonts/Ubuntu-Light.eot');
  src: url('../../static/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Ubuntu-Light.woff') format('woff'), url('../../static/fonts/Ubuntu-Light.ttf') format('truetype'), url('../../static/fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ubuntu-l {
  font-family: 'Ubuntu-Light';
}
.ubuntu-mi {
  font-family: 'Ubuntu-MediumItalic';
}
.ubuntu-li {
  font-family: 'Ubuntu-LightItalic';
}
.ubuntu-b {
  font-family: 'Ubuntu-Bold';
}
.ubuntu {
  font-family: 'Ubuntu';
}
.ubuntu-m {
  font-family: 'Ubuntu-Medium';
}
.button-font {
  font-family: "button-font";
}
.star-font {
  font-family: "star-font";
}
.myriad-b {
  font-family: "MyriadPro-Bold";
}
.myriad-bc {
  font-family: "MyriadPro-BoldCond";
}
.myriad-bcit_0 {
  font-family: "MyriadPro-BoldCondIt_0";
}
.myriad-c {
  font-family: "MyriadPro-Cond";
}
.myriad-it {
  font-family: "MyriadPro-It";
}
.myriad-r {
  font-family: "MyriadPro-Regular";
}
.myriad-sb {
  font-family: "MyriadPro-Semibold";
}
/* ------------------------------------------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* -------= imports =------- */
/* -------= variables =------- */
/* -------= variables =------- */
/* -------= nav-block =------- */
.nav-block {
  background-color: #333333;
}
.navbar-delete-styles {
  background-color: #333333;
  border-color: transparent;
  min-height: 0;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 1000;
  border: none !important;
}
.navbar-custom {
  border: none;
  border-radius: 0;
  min-height: 40px;
  background-color: #333333;
  border-color: transparent;
  z-index: 1000;
  margin: 0;
}
.navbar-custom ul li a {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px !important;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 14px;
}
.navbar-custom ul li a:hover {
  background-color: #414141 !important;
  color: #54adf1;
}
.menu-link_active {
  background-color: #54adf1 !important;
}
.navbar__no-padding_right_left {
  padding-left: 0;
  padding-right: 0;
}
.navbar-button_custom {
  margin: 0;
  margin-top: 1px;
}
/* -------= custom media querie for navbar  =------- */
@media screen and (max-width: 995px) and (min-width: 768px) {
  .navbar-custom,
  .ns_navbar {
    height: 80px;
  }
}
/* -------= custom media querie for navbar  =------- */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #414141;
}
.dropdown-menu {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  background-color: #414141;
  border-radius: 0;
  border-top: 2px solid #54adf1;
}
.dropdown-menu:before,
.dropdown-menu:after {
  content: "";
  display: table;
}
.dropdown-menu:after {
  clear: both;
}
.dropdown-menu-link-font-size a {
  font-family: 'Ubuntu';
  font-size: 12px !important;
}
.dropdown-menu .divider {
  margin: 0;
  background-color: #545454;
}
.navbar-default {
  background-color: #333333;
  border-color: #414141;
  text-transform: uppercase;
  font-family: 'Ubuntu-Medium';
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #414141;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #414141;
}
.navbar-default .navbar-toggle {
  border-color: #414141;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #414141;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #54adf1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #414141;
  }
}
/* -------= nav-block =------- */
